
@font-face {
    font-family: 'ablationregular';
    src: url(../Archivos/Font-ablation/ablation_personaluse-webfont.woff2) format('woff2'),
         url(../Archivos/Font-ablation/ablation_personaluse-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'glacial_indifferenceregular';
    src: url(../Archivos/Font-glacial-indiference/glacialindifference-regular-webfont.woff2) format('woff2'),
         url(../Archivos/Font-glacial-indiference/glacialindifference-regular-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'glacial_indifferenceitalic';
    src: url('../Archivos/Font-glacial-indiference/glacialindifference-italic-webfont.woff2') format('woff2'),
         url(../Archivos/Font-glacial-indiference/glacialindifference-italic-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'glacial_indifferencebold';
    src: url(../Archivos/Font-glacial-indiference/glacialindifference-bold-webfont.woff2) format('woff2'),
         url(../Archivos/Font-glacial-indiference/glacialindifference-bold-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}